%header
  .header
    .chat__group
      = @group.name
    .chat__group__edit-link
      =link_to 'Edit', edit_group_path(@group)
    %ul.chat__group__member
      %h5 Member :
      - @group.users.each do |user|
        %li
          = user.name
  .account
    = render partial: 'shared/side-header'

.contents
  .group
    .group__name
      = render partial: "shared/side-content"

  .chat__messages
    .chat-main
      = render partial: 'message', collection: @messages

    .form
      = render partial: 'shared/form'

