%header
  .header
    = render 'shared/header-group', group: @group

  .account
    = render partial: 'shared/side-header'

.contents
  .group
    .group__name
      = render partial: "shared/side-content"

  .chat__messages
    .chat-main
      = render partial: 'message', collection: @messages

    .form
      = render partial: 'shared/form'

